# Dependencies
node_modules/

# Build output
dist/
build/
lib/
*.tsbuildinfo
*.js.map
*.d.ts.map

# Test
coverage/
outputs/
test-report.xml
junit.xml

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Logs
logs/
*.log
npm-debug.log*
bun-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# Turborepo
.turbo

# Cache
.cache/
.eslintcache
.stylelintcache

# Package files
*.tgz

# Temporary files
tmp/
temp/

# Generated documentation
docs/api/

# VitePress
**/.vitepress/dist/
**/.vitepress/cache/

# cursor 配置
.cursorrules

# 排除脚本文件
!scripts/**/*.js
!**/build.ts
